/*
 * Empty Stylesheet file.
 */

.buttom-close{
    -fx-background-color:transparent;
    -fx-cursor: hand;
}
.btn-signin{
    /*-fx-background-color:linear-gradient(to top right,gainsboro,#d08ec4);*/
    -fx-background-color: #423557;
    /*-fx-background-color:floralwhite;*/
    -fx-background-radius: 8px;
    -fx-cursor: hand;
}
.btn-signin:hover{

    -fx-background-color: #afb1cc;

}
.white-bg{
    -fx-background-color:#fff;
    -fx-background-radius: 8px;
    -fx-effect:dropshadow(three-pass-box,rgba(0,0,0,0.4),3,0,0,0);
}

.left-design-form{
    -fx-background-color:linear-gradient(to top right,#397f43,#6f5f72);
    /*-fx-background-radius:3px;*/
}
.shadow{
    -fx-effect:dropshadow(three-pass-box,rgba(0,0,0,0.4),5,0,0,0);
}
.shadowCust{
    -fx-effect:dropshadow(three-pass-box,rgba(0,0,0,0.4),3,0,0,0);
}

.field-login{
    -fx-background-color:#d7cac5;
    /*-fx-border-color:linear-gradient(to top right,#64522c,#a8962b);*/
    /*-fx-border-width:1px;*/
    /*-fx-border-radius:3px;*/
}
.textField{
    -fx-background-color: linear-gradient(to bottom ,#efefef,#eee);
    -fx-background-radius:4px;
    -fx-border-color:#000;
    -fx-border-radius:4px;
    -fx-border-width:.8px;
}
.textField:focused{
    -fx-background-color:#fff;
    -fx-border-color:linear-gradient(to bottom right,#23825e,#6d6e30);
    -fx-border-width:2px;
}
